$ff-base: "Montserrat", sans-serif;
$fw-regular: 400;
$fw-bold: 700;
$fs-base: 14px;
$fs-header: 22px;
$color-text: #000000;
$color-blue: #0057b8;
$color-blue--lighter: #3fb3ee;
$color-blue--hover: #044280;
$color-green: #79cc96;
$color-white: #ffffff;
$color-pink: #f1aeac;

$padding-XS: 8px;
$padding-S: 16px;
$padding-M: 20px;
$padding-L: 32px;
$padding-XL: 40px;
$padding-XXL: 50px;
$padding-4XL: 64px;

$box-shadow: 1px 1px 15px 3px rgba(0, 0, 1, 0.1);
$transition: all 0.2s ease-in-out;

html,
body {
  margin: 0;
  padding: 0;
}

#es-rc #es-rc-content {
  font-family: $ff-base;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.4;
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $color-text;
  background: $color-white;

  ::selection {
    background-color: $color-blue;
    color: $color-white;
  }

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .es-header {
    font-size: $fs-header;
    font-weight: $fw-regular;
  }

  .es-header--bold {
    font-size: $fs-header;
    font-weight: $fw-bold;
  }

  .es-section {
    margin-block: $padding-L;
    @media (min-width: 720px) {
      margin-block: $padding-4XL;
    }
  }

  .es-kv {
    &__left {
      text-align: center;
      text-wrap: balance;
      display: flex;
      flex-direction: column;
      gap: $padding-S;
    }

    &__right img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    &__packshot {
      &__bg {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &__logo {
      padding: $padding-S;
      max-width: 150px;
      margin: auto;
    }

    &__title {
      color: $color-white;
      padding: $padding-S;
      background-color: $color-pink;
      &__p:first-of-type {
        font-size: calc($fs-header * 1.2);
      }
    }

    &__textWrapper {
      padding: $padding-L;
      font-size: calc($fs-base * 1.1);
    }
    .es-desktop {
      display: none;
    }
    @media (min-width: 576px) {
      .es-mobile {
        display: none;
      }
      .es-desktop {
        display: block;
      }
      &__bg {
        height: 400px;
        &__img {
          width: 200%;
          height: 100%;
          object-fit: cover;
          object-position: right;
        }
      }
      &__title {
        background-color: transparent;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: $padding-XS;
        width: 95%;
        max-width: 600px;
        &__p {
          background-color: $color-pink;
          padding: $padding-XS;
          border-radius: 0 $padding-XS 0 0;
        }
      }
    }
    @media (min-width: 800px) {
      display: flex;
      position: relative;
      z-index: 1;
      &__left {
        position: absolute;
        width: 45%;
        text-align: left;
        transform: translateY(-50%);
        top: 50%;
        gap: $padding-M;
        text-align: right;
      }
      &__bg {
        height: max-content;
      }
      &__logo {
        max-width: 120px;
        margin: 0;
        padding: 0;
        padding-inline: $padding-S;
      }
      &__title {
        width: 100%;
        &__p {
          padding-right: $padding-S;
        }
      }
      &__textWrapper {
        padding: 0;
        padding-right: $padding-S;
        text-align: right;
      }
    }
    @media (min-width: 880px) {
      &__left {
        width: 42%;
        gap: $padding-L;
      }
      &__logo {
        max-width: 150px;
      }
      &__logo {
        padding-left: $padding-L;
      }
      &__title__p,
      &__texdtWrapper {
        padding-right: $padding-L;
      }
    }
  }

  .es-features {
    &__title {
      background-color: $color-pink;
      color: $color-white;
      padding: $padding-S;
      text-align: center;
      width: 100%;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: $padding-XS;
      padding: $padding-XL $padding-S;
      width: 80%;
      margin: auto;
    }

    &__single {
      display: flex;
      align-items: center;
      gap: $padding-S;
      transition: $transition;
      font-size: calc(1.2 * $fs-base);
      &:hover {
        margin-left: -$padding-XS;
      }
    }
    &__icon {
      max-width: 50px;
    }

    &__text {
      width: 100%;
    }

    &__reference {
      font-size: calc(0.8 * $fs-base);
      padding-inline: $padding-S;
      text-align: center;
      margin: auto;
    }
    @media (min-width: 576px) {
      &__left__img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
      &__right {
        display: flex;
        flex-direction: column;
        gap: $padding-XS;
        align-items: center;
        padding-block: $padding-L;
      }
      &__title {
        border-radius: $padding-XS 0 $padding-XS 0;
        max-width: max-content;
      }
    }
    @media (min-width: 720px) {
      display: flex;
      &__left {
        width: 45%;
        border-radius: 0 $padding-M 0 0;
        overflow: hidden;
      }
      &__right {
        width: 55%;
        padding-block: unset;
        align-items: flex-start;
        justify-content: center;
        gap: $padding-M;
      }
      &__title {
        max-width: unset;
        border-radius: 0 0 0 $padding-XS;
        padding: $padding-XS;
        text-align: left;
        padding-left: calc(20% + $padding-M);
        margin-left: -20%;
        width: 120%;
      }
      &__wrapper {
        padding: 0;
        margin: 0;
        width: 100%;
        padding-inline: $padding-M;
      }
      &__reference {
        padding: 0;
        margin: 0;
        text-align: left;
        padding-left: $padding-M;
      }
    }
    @media (min-width: 880px) {
      &__title {
        padding-left: calc(13% + $padding-L);
        margin-left: -13%;
        width: 113%;
      }
      &__right {
        gap: $padding-L;
      }
      &__wrapper {
        padding-inline: $padding-L;
        gap: $padding-S;
      }
      &__reference {
        padding-left: $padding-L;
      }
    }
  }

  .es-formula {
    position: relative;
    z-index: 1;

    .es-header {
      text-align: center;
      padding: $padding-S;
      background-color: $color-pink;
      color: $color-white;
    }

    &__bg {
      position: absolute;
      height: 100%;
      z-index: -1;
    }

    &__bg__img {
      height: 100%;
      object-fit: cover;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      padding: $padding-S;
      gap: $padding-S;
    }

    &__single {
      display: flex;
      flex-direction: column;
      gap: $padding-S;
      background-color: #ffffff19;
      padding: $padding-S;
      border-radius: $padding-XS;
      backdrop-filter: blur(4px);
    }

    &__textTitle {
      color: $color-blue;
      font-weight: $fw-bold;
      width: 85%;
      max-width: 300px;
      text-align: center;
      margin-inline: auto;
      font-size: $fs-header;
      padding-block: calc($padding-XS/2);
    }

    &__text {
      text-align: center;
    }

    &__plus {
      color: $color-blue;
      font-size: calc(2 * $fs-header);
      font-weight: $fw-bold;
      text-align: center;
    }

    @media (min-width: 576px) {
      .es-header {
        max-width: max-content;
        padding-inline: $padding-XXL;
        border-radius: $padding-XS 0 $padding-XS 0;
        margin: auto;
      }

      &__title {
        padding-top: $padding-L;
      }

      &__single {
        background-color: transparent;
        backdrop-filter: unset;
      }
    }

    @media (min-width: 720px) {
      position: relative;
      z-index: 0;

      &__wrapper {
        flex-direction: row;
        padding: $padding-L;
        justify-content: center;
        align-items: flex-start;
      }

      &__single {
        flex-basis: 50%;
        display: grid;
        align-content: flex-start;
        max-width: 375px;
        &:hover {
          box-shadow: $box-shadow;
        }
      }
    }
  }

  .es-cross {
    position: relative;
    z-index: 0;

    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
    }

    &__bg img {
      height: 100%;
      width: 100%;
    }

    &__left {
      display: flex;
      flex-direction: column;
      gap: $padding-M;
      &__wrapper {
        background-color: $color-pink;
        color: $color-white;
        &__header {
          padding: $padding-S;
          text-align: center;
        }
      }
      &__description {
        padding: 0 $padding-S;
        font-size: calc(1.2 * $fs-base);
        text-align: center;
        text-wrap: balance;
      }
    }

    &__odkryj {
      background-color: $color-blue;
      color: $color-white;
      font-size: $fs-header;
      text-align: center;
      padding: $padding-XS $padding-L;
      font-weight: $fw-bold;
      border-radius: 0 $padding-XS;
      width: max-content;
      margin: 0 auto 8px auto;
    }

    .es-header {
      display: block;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $padding-S;
      padding: $padding-L $padding-S;
    }

    &__single {
      display: flex;
      flex-direction: column;
      gap: $padding-XS;
      align-items: center;
      backdrop-filter: blur(4px);
      padding: $padding-S $padding-XS;
      border-radius: $padding-XS;
      text-decoration: none;
      width: 50%;
      transition: $transition;
    }

    &__single:hover {
      background-color: rgba(255, 255, 255, 0.0980392157);
      box-shadow: $box-shadow;
    }

    &__img {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &__img img {
      max-width: 100%;
      height: 100%;
    }

    &__img--1 {
      max-height: 285px;
    }

    &__img--2 {
      max-height: 200px;
    }

    &__img--3 {
      max-height: 240px;
    }

    &__name {
      color: $color-blue;
      font-weight: $fw-bold;
      text-align: center;
      font-size: calc(1.1 * $fs-base);
    }

    &__desc {
      text-align: center;
      color: $color-text;
      text-transform: uppercase;
    }
    &__link {
      background-color: $color-blue;
      color: $color-white;
      font-weight: $fw-bold;
      text-align: center;
      width: max-content;
      font-size: calc(1.1 * $fs-base);
      padding: $padding-XS $padding-L;
      text-decoration: none;
      transition: $transition;
      &:hover {
        background-color: $color-blue--hover;
      }
    }

    @media (min-width: 576px) {
      overflow: hidden;
      &__left {
        padding: $padding-XL $padding-L 0 $padding-L;
        &__wrapper {
          border-radius: $padding-XS 0;
        }
        &__description {
          max-width: 440px;
          margin: auto;
        }
      }
      &__bg {
        img {
          height: 117%;
        }
      }
      &__wrapper {
        flex-direction: row;
        align-items: flex-end;
      }
      &__single {
        width: 33%;
        height: 100%;
        backdrop-filter: unset;
        &:hover {
          background-color: unset;
          box-shadow: unset;
        }
        img {
          transition: $transition;
        }
        &:hover img {
          scale: 1.1;
        }
      }
      &__desc {
        height: 3em;
      }
    }
    @media (min-width: 880px) {
      position: relative;
      z-index: 0;
      display: flex;
      justify-content: space-between;
      padding-block: $padding-L;

      &__left {
        width: 40%;
        gap: $padding-L;
        padding: 0;
        &__wrapper {
          border-radius: 0 $padding-XS 0 0;
          &__header {
            text-align: left;
            padding-inline: $padding-L;
            .es-header--bold {
              display: block;
            }
          }
        }

        &__description {
          padding-left: $padding-L;
          margin: 0;
          text-align: left;
          max-width: 290px;
        }
      }

      &__bg img {
        height: 113%;
      }

      &__wrapper {
        padding: 0 $padding-S;
        width: 60%;
        gap: 0;
        justify-content: space-between;
      }

      &__single {
        backdrop-filter: unset;
        height: 100%;
        justify-content: flex-end;
        padding: 0;
      }

      &__name {
        font-size: 14px;
      }

      &__desc {
        font-size: 11px;
        height: unset;
      }
    }
  }

  .es-products {
    .es-header {
      text-align: center;
      padding: $padding-L;
      color: $color-blue;
    }

    .es-header--bold {
      display: block;
    }

    &__title--desktop {
      display: none;
    }

    &__bg {
      width: 100%;
    }

    &__bg__img {
      width: 100%;
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: $padding-M;
      padding: $padding-M $padding-L;
      justify-content: center;
    }

    &__single {
      color: $color-white;
      padding: $padding-XS $padding-L;
      border-radius: 0px $padding-XS;
      text-align: center;
      display: grid;
      place-items: center;
      width: 100%;
      font-weight: $fw-bold;
    }

    &__single:nth-child(1) {
      background-color: $color-green;
    }

    &__single:nth-child(2) {
      background-color: $color-blue--lighter;
    }

    &__single:nth-child(3) {
      background-color: $color-pink;
    }

    @media (min-width: 720px) {
      display: flex;
      flex-direction: row-reverse;

      &__bg {
        height: 100%;
        border-radius: $padding-M 0 0 0;
        overflow: hidden;
        &__img {
          height: 100%;
          object-fit: cover;
          object-position: left;
        }
      }

      .es-header {
        padding-inline: unset;
      }

      &__single {
        border-radius: 0 $padding-XS;
        font-size: 18px;
      }

      &__left {
        width: 46%;
      }

      &__right {
        width: 54%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .es-ekspert {
    &__left {
      border-radius: 0 $padding-M 0 0;
      overflow: hidden;
      &__img {
        object-fit: cover;
        width: 100%;
      }
    }

    &__logo {
      padding-top: $padding-XL;
      &__img {
        max-width: 150px;
      }
    }

    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: $padding-S;
      padding: $padding-S;
      max-width: 444px;
      margin: auto;
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $padding-S;
      text-align: center;
      padding: $padding-S;
      border-radius: $padding-M;
      transition: all 200ms ease-in-out;
    }

    &__single:hover {
      box-shadow: $box-shadow;
    }

    &__icon {
      background-color: $color-blue;
      padding: $padding-XS;
      border-radius: $padding-XS;
      width: 80px;
      height: 80px;
      display: grid;
      place-items: center;
    }

    @media (min-width: 720px) {
      display: flex;

      &__left {
        width: 54%;
        img {
          height: 100%;
          object-position: 75%;
        }
      }

      &__right {
        width: 46%;
      }
    }
    @media (min-width: 880px) {
      &__left {
        img {
          object-position: center;
        }
      }
    }
  }
}
